button{
    width: 70px;
    height: 33px;
    border-radius: 5px;
    background-color: black;
    color: white;
    size: 100px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    position: relative;
    top: -54px;
}



button:active{

    background-color: green; 
}  




.sum{
    display: flex;
    justify-content: center;
}

.margin{
    margin: 10px;
}
.dibba{
    margin-top: 5px;
}

#nu{
    margin: 2px;
    width: 77px;
    left: 60%;
    position: relative;
}

#out{
    margin: 2px;
    
    width: 77px;
    position: relative;
    left: 42%;
}

notag{
    position: relative;
    left: 40%;
    font-size: 1.3em;
}

yestag{
    position: relative;
    left: 58%;
    font-size: 1.3em;
}
h1{
    font-size: 1.7em;
    margin-bottom: 7%;
}

input{
    margin: 2px;
}